# Data Transformation and Cleaning with Pandas

## Table of Contents
<ul>
    <li><a href="#step0"> step0 </a></li>
    <li><a href="#step1"> step1 </a></li>
    <li><a href="#step2"> step2 </a></li>
    <li><a href="#step3"> step3 </a></li>
    <li><a href="#step4"> step4 </a></li>
    <li><a href="#step5"> step5 </a></li>
    <li><a href="#step6"> step6 </a></li>
    <li><a href="#step7"> step7 </a></li>
    <li><a href="#step8"> step8 </a></li>
    <li><a href="#step9"> step9 </a></li>
    <li><a href="#step10"> step10 </a></li>
</ul>

<a id='step0'></a>
### Step 0
>-Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013
>
>-should be put into a DataFrame with the variable name of **energy**.

>-Keep in mind that this is an Excel file, and not a comma separated values file. 
>
>-Also, make sure to exclude the footer and header information from the datafile. 
>
>-The first two columns are unneccessary, so you should get rid of them.
>
>-you should change the column labels so that the columns are:
>
>`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

>-Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). 
>
>-For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

>-Rename the following list of countries (for use in later questions):
>-```"Republic of Korea": "South Korea",
>"United States of America": "United States",
>"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
>"China, Hong Kong Special Administrative Region": "Hong Kong"```

>-There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 
>e.g. 
>`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 
>`'Switzerland17'` should be `'Switzerland'`.

----------------------------------------------------------------------------------------------------------

>**1 - Exploring Data:**
>
>Modifications done while exploring:
>>
>>-Drop **un-needed columns**.
>>
>>-Rename the columns with **'Country'**, **'Energy Supply'**, **'Energy Supply per Capita'**, **'% Renewable'**.

In [132]:
# Importing needed packages.
import pandas as pd 
import numpy as np

In [133]:
# Reading the file.
energy_file_name = "Energy Indicators.xls"
energy = pd.read_excel(energy_file_name, skiprows=1, skipfooter=0)

# Drop the first two columns
energy=energy.iloc[16:243,2:]
energy.reset_index(drop=True, inplace=True)

# Rename the columns 
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

# Exploring data.
energy.head()

          Country Energy Supply Energy Supply per Capita % Renewable
0     Afghanistan           321                       10   78.669280
1         Albania           102                       35         100
2         Algeria          1959                       51    0.551010
3  American Samoa           ...                      ...    0.641026
4         Andorra             9                      121   88.695650

In [134]:
energy.tail()

,Country,Energy Supply,Energy Supply per Capita,% Renewable
222,Viet Nam,2554,28,45.32152
223,Wallis and Futuna Islands,0,26,0
224,Yemen,344,13,0
225,Zambia,400,26,99.71467
226,Zimbabwe,480,32,52.53612

In [135]:
#check for nulls
pd.isnull(energy).sum()

Country                     0
Energy Supply               0
Energy Supply per Capita    0
% Renewable                 0
dtype: int64

In [136]:
# get the shape
energy.shape

(227, 4)

In [137]:
# see more informations
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   227 non-null    object
 1   Energy Supply             227 non-null    object
 2   Energy Supply per Capita  227 non-null    object
 3   % Renewable               227 non-null    object
dtypes: object(4)
memory usage: 7.2+ KB

In [138]:
# check for duplicated rows
energy.duplicated().sum()

0

>**2 - Comments after exploring data:**
>
>>-The type of columns **'Energy Supply"**, **'Energy Supply per Capita'**, **'% Renewable'** have to be converted to **float**.
>
>>-The missing data (e.g. data with **"..."**) have to be reflected as **np.NaN** values.
>
>>-Convert **"Energy Supply"** to **gigajoules**.
>
>>-Rename the following list of countries 
**"Republic of Korea"**: "South Korea",
**"United States of America"**: "United States",
**"United Kingdom of Great Britain and Northern Ireland"**: "United Kingdom",
**"China, Hong Kong Special Administrative Region"**: "Hong Kong".
>
>>-Remove **special characters** from country column.

In [139]:
# change The type of columns 'Energy Supply", 'Energy Supply per Capita', '% Renewable' to float.
# check for missing data eg. '...' and replace it with np.NaN values.

energy['Country']=energy['Country'].apply(lambda x: np.NaN if x == '...' else x)
energy['Energy Supply']=energy['Energy Supply'].apply(lambda x: np.NaN if x == '...' else x)
energy['Energy Supply per Capita']=energy['Energy Supply per Capita'].apply(lambda x: np.NaN if x == '...' else x)
energy['% Renewable']=energy['% Renewable'].apply(lambda x: np.NaN if x == '...' else x)

#Convert "Energy Supply" to gigajoules.
energy["Energy Supply"] = energy["Energy Supply"].apply(lambda x: x * 1000000)

# Rename some of country names 
energy_korea_indicies = energy[(energy['Country'] == "Republic of Korea")]['Country'].index
energy_USA_indicies = energy[(energy['Country'] == "United States of America20")]['Country'].index
energy_Ireland_indicies = energy[(energy['Country'] == "United Kingdom of Great Britain and Northern Ireland19" )]['Country'].index
energy_China_indicies = energy[(energy['Country'] == "China, Macao Special Administrative Region4")]['Country'].index

In [140]:

energy.__getitem__('Country').__setitem__(energy_korea_indicies[0], "South Korea")
energy.__getitem__('Country').__setitem__(energy_USA_indicies[0], "United States")
energy.__getitem__('Country').__setitem__(energy_Ireland_indicies[0], "United Kingdom")
energy.__getitem__('Country').__setitem__(energy_China_indicies[0], "Hong Kong")

F:\Anaconda_new_Installation\envs\my_env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
F:\Anaconda_new_Installation\envs\my_env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

F:\Anaconda_new_Installation\envs\my_env\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
F:\Anaconda_new_Installation\envs\my_env\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [141]:
#remove numbers and special characters from country names, and any additional description for country name.
energy['Country'] = energy["Country"].apply(lambda x: x.split()[0])
energy['Country'] =energy['Country'].str.lower().str.replace('[0-9]', '')

F:\Anaconda_new_Installation\envs\my_env\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

>**3 - Data after cleansing:**
>>-Data now is cleaned and ready to be used.

In [142]:
#check data after cleansisng.
energy.sample(10)

       Country  Energy Supply  Energy Supply per Capita  % Renewable
97   indonesia   8.754000e+09                      35.0    12.189040
205   trinidad   8.240000e+08                     611.0     0.000000
207     turkey   4.897000e+09                      64.0    28.536690
15     bahrain   5.740000e+08                     425.0     0.000000
226   zimbabwe   4.800000e+08                      32.0    52.536120
76       gabon   9.900000e+07                      60.0    37.500000
26      bosnia   2.660000e+08                      70.0    41.464670
93    honduras   2.170000e+08                      28.0    37.763190
25    bonaire,   5.000000e+06                     213.0     0.000000
127      malta   3.100000e+07                      75.0     1.419698

---------------------------------------------------------------------------------------------------------------------

<a id='step1'></a>
### Step 1
<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

>**1 - Exploring Data:**
>
>Modifications done while exploring:
>>
>>-Drop **un-needed rows (skip header)** .

In [143]:
# Reading the file.
GDP_file_name = "world_bank.csv"
GDP = pd.read_csv(GDP_file_name,skiprows=4)

In [144]:
# Explore Data
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

>**2 - Comments after exploring data:**
>>-Rename country name col from **Country Name** to **'Country**.
>
>>-Rename the following list of countries.
>>>
>>>From **"Korea, Rep."** to **"South Korea"**,
>>>
>>>From **"Iran, Islamic Rep."** to **"Iran"**,
>>>
>>>From **"Hong Kong SAR, China"**: to **"Hong Kong"**

In [145]:
# Rename some of country names 
iran_indicies = GDP[(GDP['Country Name'] == "Korea, Rep.")]['Country Name'].index
korea_indicies = GDP[(GDP['Country Name'] == "Iran, Islamic Rep.")]['Country Name'].index
hong_kong_indicies = GDP[(GDP['Country Name'] == "Hong Kong SAR, China" )]['Country Name'].index

print(iran_indicies[0])
print(korea_indicies[0])
print(hong_kong_indicies[0])

GDP.__getitem__('Country Name').__setitem__(iran_indicies[0], 'Iran')
GDP.__getitem__('Country Name').__setitem__(korea_indicies[0], "South Korea")
GDP.__getitem__('Country Name').__setitem__(hong_kong_indicies[0], "Hong Kong")

123
109
93

F:\Anaconda_new_Installation\envs\my_env\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
F:\Anaconda_new_Installation\envs\my_env\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
F:\Anaconda_new_Installation\envs\my_env\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [146]:
#rename country name col into country
GDP = GDP.rename(columns={'Country Name': 'Country'})

>**3 - Data after cleansing:**
>>-Data now is cleaned and ready to be used.

<a id='step2'></a>
### Step 2
Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

>**1 - Exploring Data:**

In [147]:
# Reading the file.
ScimEn_file_name = "scimagojr-3.xlsx"
ScimEn = pd.read_excel(ScimEn_file_name)

F:\Anaconda_new_Installation\envs\my_env\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [148]:
#explore data
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [149]:
# see more informations
ScimEn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    191 non-null    int64
 1   Country                 191 non-null    object
 2   Documents               191 non-null    int64
 3   Citable documents       191 non-null    int64
 4   Citations               191 non-null    int64
 5   Self-citations          191 non-null    int64
 6   Citations per document  191 non-null    float64
 7   H index                 191 non-null    int64
dtypes: float64(1), int64(6), object(1)
memory usage: 12.1+ KB

>**2 - Comments after exploring data:**
>> no modifications need to be done.

<a id='step3'></a>
### Step 3
Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This step should yeild a DataFrame with 20 columns and 15 entries.*

In [150]:
GDP1=GDP.iloc[:,0:1]
GPP2=GDP.iloc[:,50:60]
GDP_result = pd.concat([GDP1, GPP2], axis=1, join="inner")

In [151]:
ScimEn.Country = ScimEn.Country.str.title()
energy.Country = energy.Country.str.title()
GDP.Country = GDP.Country.str.title()

result = pd.merge(ScimEn.iloc[:,:],energy,on='Country')
result = pd.merge(result,GDP_result,on='Country')

result = result.set_index('Country')

In [152]:
result=result.sort_values('Rank')
final_df=result.iloc[0:15,:]

In [153]:
final_df.shape

(15, 20)

In [154]:
final_df.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.94543,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.90153,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.96908,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12

In [155]:
top_ranked_df=final_df.reset_index()

# Let's convert it from this very wide format to a long one
top_ranked_df = top_ranked_df.melt(id_vars=['Country','Rank','Documents', 'Citable documents', 'Citations', 'Self-citations' , 'Citations per document' , 'H index', 'Energy Supply','Energy Supply per Capita', '% Renewable'], var_name='year', value_name = 'GDP_value')

top_ranked_df = top_ranked_df.set_index('Country')

In [156]:
#check the data
top_ranked_df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,year,GDP_value
Country,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,2006,3.992331e+12
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,2006,5.496542e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,2006,1.564469e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,2006,3.332891e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,2006,1.265894e+12
...,...,...,...,...,...,...,...,...,...,...,...,...
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,2015,2.319423e+12
Turkey,17,5879,5827,91857,23165,15.62,104,4.897000e+09,64.0,28.536690,2015,9.065849e+11
Norway,18,5675,5634,32693,6024,5.76,74,1.388000e+09,273.0,97.635580,2015,4.662883e+11
Netherlands,19,5170,5105,48351,6067,9.35,85,3.199000e+09,190.0,6.324659,2015,8.624973e+11
Sweden,20,4565,4494,57889,9632,12.68,95,2.044000e+09,212.0,46.598460,2015,5.388264e+11

In [157]:
top_ranked_df.shape

(150, 12)

In [158]:
top_ranked_df.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,year,GDP_value
Country,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,2006,3.992331e+12
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,2006,5.496542e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.94543,2006,1.564469e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.90153,2006,3.332891e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.96908,2006,1.265894e+12

<a id='step4'></a>
### Step 4
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This step should yield a single number.*

In [159]:
print(" how many entries did you lose? = " , top_ranked_df.shape[0]-final_df.shape[0])

 how many entries did you lose? =  135

<a id='step5'></a>
### Step 5

#### Answer the following questions in the context of only the top 15 countries by Scimagojr Rank 


What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This step should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [160]:
#check for nulls
pd.isnull(top_ranked_df).sum()

Rank                        0
Documents                   0
Citable documents           0
Citations                   0
Self-citations              0
Citations per document      0
H index                     0
Energy Supply               0
Energy Supply per Capita    0
% Renewable                 0
year                        0
GDP_value                   0
dtype: int64

In [161]:
def avgg(country_name):
    return top_ranked_df["GDP_value"][country_name].mean()

def get_avg(df):
    c_=df.index.unique()
    countries_list = []
    avg_list=[]
    for each_value in c_:
        countries_list.append(each_value)
        avg_list.append(avgg(each_value))
    return countries_list, avg_list


contries_l, avd_l =get_avg(top_ranked_df)

series_result = pd.Series(data=avd_l, index=contries_l) 
avgGDP = series_result.sort_values(ascending=False)

In [162]:
print(type(avgGDP))
avgGDP

<class 'pandas.core.series.Series'>

China          6.348609e+12
Japan          5.542208e+12
Germany        3.493025e+12
France         2.681725e+12
Brazil         2.189794e+12
Italy          2.120175e+12
India          1.769297e+12
Canada         1.660647e+12
Spain          1.418078e+12
Australia      1.164043e+12
Iran           1.106715e+12
Netherlands    8.411181e+11
Turkey         7.704245e+11
Sweden         4.960427e+11
Norway         4.389348e+11
dtype: float64

<a id='step6'></a>
### Step  6
What is the mean `Energy Supply per Capita`?

*This step should return a single number.*

In [163]:
print("Mean of Energy Supply per Capita: ",top_ranked_df['Energy Supply per Capita'].mean())

Mean of Energy Supply per Capita:  150.53333333333333

<a id='step7'></a>
### Step 7
What country has the maximum % Renewable and what is the percentage?

*This step should return a tuple with the name of the country and the percentage.*

In [164]:
result=top_ranked_df[top_ranked_df['% Renewable']==top_ranked_df['% Renewable'].max()][['% Renewable']]

# dropping ALL duplicte values 
result.drop_duplicates(subset='% Renewable', keep='first',inplace = True)

result

         % Renewable
Country
Norway      97.63558

<a id='step8'></a>
### Step 8
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This step should return a tuple with the name of the country and the ratio.*

In [165]:
total_citations=top_ranked_df['Self-citations'].count()
top_ranked_df['ratio_Self-citations']=top_ranked_df['Self-citations'].apply(lambda x: x/total_citations )

In [166]:
result=top_ranked_df[top_ranked_df['ratio_Self-citations']==top_ranked_df['ratio_Self-citations'].max()][['ratio_Self-citations' ]]

# dropping ALL duplicte values 
result.drop_duplicates(subset='ratio_Self-citations', keep='first',inplace = True)

result

         ratio_Self-citations
Country
China             2744.553333

<a id='step9'></a>
### Step 9
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This step should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [167]:
top_ranked_df['above_% Renewable_median']=0

top_ranked_df[top_ranked_df['% Renewable']>=top_ranked_df['% Renewable'].median()]['above_% Renewable_median']= 1

top_ranked_df[top_ranked_df['% Renewable']<top_ranked_df['% Renewable'].median()]['above_% Renewable_median']= 0

result = pd.Series(top_ranked_df['above_% Renewable_median']) 
HighRenew = result.sort_values(ascending=True)

F:\Anaconda_new_Installation\envs\my_env\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
F:\Anaconda_new_Installation\envs\my_env\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [168]:
HighRenew

Country
China        0
Italy        0
Spain        0
Iran         0
Australia    0
            ..
Italy        0
Spain        0
Iran         0
Brazil       0
Sweden       0
Name: above_% Renewable_median, Length: 150, dtype: int64

<a id='step10'></a>
### Step 10
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [169]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [170]:
top_ranked_df['Estimated_pop'] = top_ranked_df['Energy Supply'] / top_ranked_df['Energy Supply per Capita']

In [171]:
df = pd.DataFrame(columns = ['size', 'sum', 'mean', 'std'])
top_ranked_df['Estimate Estimated_pop'] = top_ranked_df['Energy Supply'] / top_ranked_df['Energy Supply per Capita']
for Continen, frame in top_ranked_df.groupby(ContinentDict):
    df.loc[Continen] = [len(frame), frame['Estimated_pop'].sum(),frame['Estimated_pop'].mean(),frame['Estimated_pop'].std()]

In [172]:
df

               size           sum          mean           std
Asia           40.0  2.848861e+10  7.122152e+08  6.188630e+08
Australia      10.0  2.331602e+08  2.331602e+07  3.926801e-09
Europe         40.0  2.505587e+09  6.263967e+07  1.225340e+07
North America  10.0  3.523986e+08  3.523986e+07  7.853602e-09
South America  10.0  2.059153e+09  2.059153e+08  3.141441e-08